@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

* {
  font-family: 'Poppins', 'Heebo', sans-serif !important;
  transition: 0.3s !important;
}
/* html {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
} */
body {
  overflow-x: hidden;
}
.section {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  /* scroll-snap-align: start; */
}
.section:not(:first-child) {
  padding-top: 64px;
}

.MuiTimelineOppositeContent-root {
  flex: 0.4 !important;
}
