.slowRight {
  animation: rotatingR 60s linear infinite;
}
.medRight {
  animation: rotatingR 40s linear infinite;
}
.fastRight {
  animation: rotatingR 20s linear infinite;
}

.slowLeft {
  animation: rotatingL 60s linear infinite;
}
.medLeft {
  animation: rotatingL 40s linear infinite;
}
.fastLeft {
  animation: rotatingL 20s linear infinite;
}

@keyframes rotatingR {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes rotatingL {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
